.menu{
    position:fixed;

    top: 0;

    z-index: 10;

    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;

    margin-bottom: 50px;


    background: rgb(62, 62, 62);
    border-bottom: 1px solid rgb(208, 208, 208);
    
    ul{

        position: relative;
        list-style: none;

        display: flex;
        align-items: center;
        justify-content: center;

        width: fit-content;
        height: 30px;

        padding: 0 20px 0 20px;

        margin-left: auto;

        li{
            margin: 0 10px 0 10px;
            position: relative;
            
            a{
                text-decoration: none;

                color: rgb(220, 220, 220);
                font-family:'Segoe UI';
                font-weight: 500;
                font-size: 18px;

                cursor: pointer;
                position: relative;

            }

            a:hover{
                color: rgb(159, 159, 159);
            }
        }
    
    }



}